body {
    background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg");
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px; /* Increase the base font size */
}

@media (max-width: 600px) {
    body {
        background-size: cover;
        background-position: center top;
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    body {
        background-size: cover;
        background-position: center;
        font-size: 18px; /* Adjust font size for medium screens */
    }
}

@media (min-width: 1200px) {
    body {
        background-size: cover;
        background-position: center;
        font-size: 20px; /* Adjust font size for larger screens */
    }
}

h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.5em; /* Increase font size */
}

h2 {
    color: white;
    font-size: 2em; /* Increase font size */
    margin-top: 0;
    margin-bottom: 20px;
}

.glow {
    text-shadow: 0 4px 30px grey;
}

button {
    border: none;
    padding: 20px 25px; /* Increase padding */
    color: black;
    font-weight: bold;
    font-size: 1.5em; /* Increase font size */
    width: 250px; /* Increase width */
    margin-bottom: 15px; /* Increase margin */
    border-radius: 5px;
    transition: box-shadow 0.3s ease; /* Add transition for glowing effect */
}

button:active {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* Glowing effect on click */
}

p {
    color: white;
    font-size: 1.5em; /* Increase font size */
}

#increment-btn {
    background: darkgrey;
}

#save-btn {
    background: white;
}

.counter {
    border: 10px solid white;
    opacity: 0.7;
    border-radius: 10px;
    border-top: solid grey 10px;
    border-bottom: solid grey 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
    box-sizing: border-box;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .counter {
        width: 100%;
        border-width: 5px;
        padding: 10px;
    }
}

/* Media query for screens between 600px and 1200px */
@media (min-width: 600px) and (max-width: 1200px) {
    .counter {
        width: 80%;
        border-width: 8px;
        padding: 15px;
    }
}

/* Media query for screens larger than 1200px */
@media (min-width: 1200px) {
    .counter {
        width: 60%;
        border-width: 10px;
        padding: 20px;
    }
}